@page "/"

<PageTitle>WifiCode</PageTitle>

<div class="print:hidden">
    <h1 class="my-8 text-center">
        <img src="/wificode.svg" alt="WifiCode by storck.io" class="inline w-80" />
    </h1>

    <p class="text-center my-4 mx-auto max-w-xl">
        Allow visitors access to your guest Wi-Fi network by scanning a QR code using their iPhone,
        iPad or recent Android device. Simply fill out the form below and click 'Print' for your free
        guest network information sheet!
    </p>
</div>

<CascadingValue Value="@WifiDetails">
    <Editor/>
</CascadingValue>

@code {
    private readonly WifiDetails WifiDetails = new();
}
