@inherits LayoutComponentBase

<div class="container mx-auto px-2 md:px-0">
    @Body
    
    <div class="print:hidden text-center text-sm mt-8">
        © <a href="https://storck.io/">storck.io - value through software</a><br />
        <a href="https://github.com/martijn/WifiCode" class="text-blue-500">source code on Github</a>
    </div>
</div>
