@inherits LayoutComponentBase

<div class="container mx-auto px-2 md:px-0">
    @Body
    
    <div class="print:hidden text-center text-sm my-8 leading-6">
        © <a href="https://storck.io/">Martijn Storck, storck.io</a><br/>
        <a href="https://github.com/martijn/WifiCode" class="text-blue-500">source code on Github</a>
    </div>
</div>
