<div class="text-center">
    <h1 class="text-2xl font-bold mb-4">@WifiDetails.Title</h1>

    <p class="mb-4">Scan the code below with your Apple or Android camera to connect:</p>

    <div class="m-4">
        <WifiQrCode />
    </div>

    <p class="leading-loose mb-4">
        Or, choose network<br/>
        <strong class="font-mono">@WifiDetails.Ssid</strong><br/>
        and enter password<br />
        <strong class="font-mono">@WifiDetails.Password</strong>
    </p>
    
    @if (!String.IsNullOrEmpty(WifiDetails.Footer))
    {
        <div class="mb-4">@WifiDetails.Footer</div>
    }
    <p class="text-xs text-gray-400 mt-8">wificode.storck.io</p>
</div>

@code {
    [CascadingParameter]
    public WifiDetails WifiDetails { get; set; } = new();
}
